src/main/app/idempotentflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="idempotentflowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/idempotent" allowedMethods="POST" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="originalPayload" value="#[payload]" doc:name="originalPayload"/>
        <idempotent-message-filter idExpression="#[message.payload]" throwOnUnaccepted="true" doc:name="Idempotent Message">
            <simple-text-file-store/>
        </idempotent-message-filter>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedExactlyBy(org.mule.api.routing.filter.FilterUnacceptedException)]" logException="false" doc:name="Catch Exception Strategy">
                <logger message="Message '#[flowVars.originalPayload]' is duplicate" level="INFO" doc:name="Log duplicate"/>
                <set-payload value="#['']" doc:name="Set empty response"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
